@font-face {
    font-family: 'WCManoNegraBtaRegular';
    src: url('WCManoNegraBta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo-Bold';
    src: url('Aleo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo-Light';
    src: url('Aleo-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo-LightItalic';
    src: url('Aleo-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aleo-Regular';
    src: url('Aleo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

